<div class="group-profile-container">
    <div class="avatar-container">
        <img src="assets/images/user.png" class="avatar">
    </div>
    <div class="group-name-container group-name">{{groupInfo?.groupName}}</div>
    <div class="description-container"><strong>Description:&nbsp;</strong>{{groupInfo?.description}}</div>
    <mat-divider></mat-divider>
    
    <div *ngIf="sidenavType == sidenavEnum.GroupProfile" class="group-members-container">
        <div class="container-title">Members</div>
        <div class="members-list">
            <div *ngFor="let member of groupInfo?.members" class="list-item">
                <img src="assets/images/user.png" class="user-avatar">
                <div class="member-container">
                    <p class="member-username"><span (click)="onUsernameClicked(member.username)">@{{member.username}}</span></p>
                    <p class="member-role"><span>{{member.role}}</span></p>
                </div>
                <div class="actions-container">
                    <button mat-flat-button class="member-action-button" title="Kick"><mat-icon>person_remove</mat-icon></button> 
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="sidenavType == sidenavEnum.EditGroupProfile" class="edit-profile-form-container">
        <div class="form-title">Edit Group</div>
        <form [formGroup]="editGroupProfileForm!" (submit)="onSubmit()" class="edit-profile-form">
        
            <mat-form-field appearance="fill">
                <mat-label>Group Name</mat-label>
                <input matInput formControlName="groupName">
                <mat-error *ngIf="editGroupProfileForm!.get('groupName')?.invalid && (editGroupProfileForm!.get('groupName')?.dirty || editGroupProfileForm!.get('groupName')?.touched)">
                    Group name is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Hmmm, what can I say about it..." formControlName="description" style="height: 140px;"></textarea>
            </mat-form-field>

            <mat-error *ngIf="error" style="margin-bottom: 10px;">{{error.message}}</mat-error>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="!editGroupProfileForm!.valid" class="edit-button">Edit</button>
            </div>
        </form>
    </div>
</div>