.menu-card{
    width: 100%;
    margin-left: 30px;
    display: block;
    padding-right: 0px;
}

.menu-card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.card-header-button{
    margin-left: 5px;
    margin-right: 5px;
}

.card-header-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.text-color{
    color: white;
}

mat-divider{
    margin-bottom: 20px;
}

mat-grid-list{
    height: 100%;
    box-sizing: border-box;
}

mat-grid-tile{
    height: 100%;
    box-sizing: border-box;
}

mat-card{
    height: 90%;
    box-sizing: border-box;
    background-color: rgb(66, 66, 66, 0.4);
}

mat-card-content{
    width: 100%;
    box-sizing: border-box;
}

.chat-box-card{
    width: 100%;
    display: flex;
    padding-right: 0;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
}

.chat-box-card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

}

.text-color{
    color: white;
}

.chat-box-card-content{
    height: 100%;
    box-sizing: border-box;
}

app-chat-box{
    height: 100%;
    box-sizing: border-box;
}