<mat-sidenav-container class="sidenav-container" style="height: 100%;">
    <mat-sidenav mode="side" position="end" class="sidenav">
        <div class="sidenav-buttons-container">
            <button mat-flat-button class="sidenav-action-button" title="Close" (click)="closeSidenav()"><mat-icon>close</mat-icon></button>
            <div class="action-buttons-container">
                <button 
                    *ngIf="(sidenavType == sidenavEnum.UserProfile && sessionUser.username == data) || 
                        (sidenavType == sidenavEnum.GroupProfile && sessionUserRole == groupRolesEnum.Admin)" 
                    mat-flat-button class="sidenav-action-button" title="Edit" (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>    
                <button *ngIf="sidenavType == sidenavEnum.EditUserProfile || sidenavType == sidenavEnum.EditGroupProfile" mat-flat-button class="sidenav-action-button" title="Back" (click)="back()"><mat-icon>arrow_back</mat-icon></button> 
            </div>  
        </div>
        <div class="sidenav-content-container">
            <app-user-profile *ngIf="this.sidenavType == sidenavEnum.UserProfile || this.sidenavType == sidenavEnum.EditUserProfile" [username]="data!" [sidenavType]="sidenavType" (profileUpdated)="sidenavType = sidenavEnum.UserProfile"></app-user-profile>
            <app-group-profile *ngIf="this.sidenavType == sidenavEnum.GroupProfile || this.sidenavType == sidenavEnum.EditGroupProfile" [groupId]="selectedGroup!.groupId" [sidenavType]="sidenavType" (profileUpdated)="onGroupUpdated()" (selectedUsername)="showUserProfile($event)"></app-group-profile>
            <app-create-group *ngIf="this.sidenavType == sidenavEnum.CreateGroup" (groupCreated)="onGroupCreated()"></app-create-group>
            <app-add-member *ngIf="this.sidenavType == sidenavEnum.AddUser" [groupId]="selectedGroup!.groupId" (usersAdded) = "onUsersAdded()"></app-add-member>
            <div *ngIf="this.sidenavType == sidenavEnum.Empty"></div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-grid-list cols="7">
            <mat-grid-tile colspan="2">
                <mat-card class="menu-card">
                    <mat-card-header class="menu-card-header">
                        <img mat-card-avatar src="assets/images/user.png">
                        <mat-card-title class="text-color">{{sessionUser.username}}</mat-card-title>
                        <mat-card-subtitle>online</mat-card-subtitle>
                        <div class="card-header-buttons">
                            <button mat-icon-button [matMenuTriggerFor]="contactsListMenu" aria-label="contacts-list-menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #contactsListMenu="matMenu">
                                <button mat-menu-item (click)="showUserProfile(sessionUser.username)">
                                    <mat-icon>account_box</mat-icon>
                                    <span>My Profile</span>
                                </button>
                                <button mat-menu-item (click)="createGroup()">
                                    <mat-icon>group_add</mat-icon>
                                    <span>Create Group</span>
                                </button>
                                <button mat-menu-item (click)="signout()">
                                    <mat-icon>logout</mat-icon>
                                    <span>Sign Out</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <app-search-user (hasInput)="hasInput($event)" (userSelected)="selectUserFromSearch($event)" [clearSearch]="clearSearch"></app-search-user>
                        <mat-divider></mat-divider>
                        <app-contacts-list (selectedThread)="selectThread($event)" (selectedGroup)="selectGroup($event)" [startChat]="startChat" [updated]="contactsUpdated" *ngIf="!searchBarHasInput"></app-contacts-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="5">
                <mat-card class="chat-box-card">
                    <mat-card-header *ngIf="selectedThread" class="chat-box-card-header">
                        <img mat-card-avatar src="assets/images/user.png">
                        <mat-card-title class="chat-box-title">
                            <span class="group-name-chat-box-header" (click)="onGroupInfoRequested()">{{selectedGroup?.groupName}}</span>&nbsp;
                            <span class="thread-name-chat-box-header">#{{selectedThread.threadName}}</span>
                        </mat-card-title>
                        <mat-card-subtitle *ngIf="this.groupInfo?.type == groupTypeEnum.User && !userTyping?.isTyping">{{groupInfo?.isOnline ? 'online' : 'offline'}}</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="userTyping?.isTyping">{{userTyping?.username}} is typing...</mat-card-subtitle>
                        <div class="card-header-buttons">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>videocam</mat-icon>
                                    <span>Video Call</span>
                                </button>
                                <button mat-menu-item (click)="onGroupInfoRequested()">
                                    <mat-icon>account_box</mat-icon>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item *ngIf="sessionUserRole == groupRolesEnum.Admin" (click)="onAddUserRequested()">
                                    <mat-icon>person_add</mat-icon>
                                    <span>Add Member</span>
                                </button>
                                <button mat-menu-item *ngIf="sessionUserRole == groupRolesEnum.Admin || groupInfo?.type == groupTypeEnum.User" (click)="openCreateThreadDialog()">
                                    <mat-icon>add</mat-icon>
                                    <span>Create Thread</span>
                                </button>

                                <button mat-menu-item *ngIf="groupInfo?.type == groupTypeEnum.Group" (click)="onGroupLeave()">
                                    <mat-icon>remove_circle_outline</mat-icon>
                                    <span>Leave Group</span>
                                </button>
                            </mat-menu>
                            
                        </div>
                    </mat-card-header>
                    <mat-card-content class="chat-box-card-content">
                        <mat-divider *ngIf="selectedThread?.threadId"></mat-divider>
                        <app-chat-box [threadId]="selectedThread?.threadId" [groupId]="selectedGroup?.groupId" [unseenMessages]="selectedThread?.unseenMessages" (selectedUsername)="showUserProfile($event)"></app-chat-box>
                    </mat-card-content>
                </mat-card>        
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>

