<div class="chat-box-container">
    <div *ngIf="!threadId" class="default-text">Select a conversation and start chatting...</div>
    <div class="messages-list">
        <div *ngFor="let message of messages; index as i; first as isFirst" class="message-container-outer">
            <div *ngIf="isFirst || dateChanged(i)" style="width: 100%;" class="date-section-container">
                <div class="date-section">{{message.timestamp | timestamp : 'chat-box'}}</div>
            </div>
            <div class="message-container-inner" [ngClass]="{
                'align-left': message.senderUsername != sessionUser.username,
                'align-right': message.senderUsername == sessionUser.username
            }">
                <div *ngIf="message.senderUsername != sessionUser.username" class="message-list-item-container">
                    <img *ngIf="isFirst || messages[i].senderId != messages[i - 1].senderId" src="assets/images/user.png" class="avatar">
                    <div *ngIf="!isFirst && messages[i].senderId == messages[i - 1].senderId"></div>
                    <div class="text-container">
                        <div style="padding-right: 35px;">
                            <p *ngIf="isFirst || messages[i].senderId != messages[i - 1].senderId" class="text-element username">@{{ message.senderUsername }}</p>
                            <p class="text-element">{{ message.content }}</p>
                        </div>
                        <p class="text-element" class="send-time">{{ message.timestamp | hoursMinutes }} </p>
                    </div>
                </div>
    
                <div *ngIf="message.senderUsername == sessionUser.username" class="message-list-item-container">
                    <div class="text-container">
                        <div style="padding-right: 35px;">
                            <p *ngIf="isFirst || messages[i].senderId != messages[i - 1].senderId" class="text-element username">@{{ message.senderUsername }}</p>
                            <p class="text-element">{{ message.content }}</p>
                        </div>
                        <p class="text-element" class="send-time">{{ message.timestamp | hoursMinutes }} </p>
                    </div>
                    <img *ngIf="isFirst || messages[i].senderId != messages[i - 1].senderId" src="assets/images/user.png" class="avatar">
                    <div *ngIf="!isFirst && messages[i].senderId == messages[i - 1].senderId"></div>
                </div>
            </div>
        </div>
    </div>

    <mat-form-field *ngIf="threadId" class="message-field">
        <input matInput placeholder="Message">
        <button matSuffix mat-button><mat-icon>send</mat-icon></button>
    </mat-form-field>
</div>

            