<h3 class="contacts-list-title">Chats</h3>
<div class="contacts-list-container">
    <div *ngFor="let group of contacts" class="contact">
        <div class="list-item-header" (click)="toggleAccordion(group)">
            <img src="assets/images/user.png" class="avatar">
            <div class="group-name">{{group.data.groupName}}</div>
            <div *ngIf="group.data.unseenMessages > 0" class="badge-container">
                <div class="badge">{{ group.data.unseenMessages }}</div>
            </div>
        </div>

        <div class="list-item-content" [hidden]="!group.expanded">
            <div class="thread-list-item" *ngFor="let thread of group.data.threads" (click)="selectThread(thread.threadId, thread.threadName, thread.unseenMessages, group.data.groupId, group.data.groupName)">
                <div class="thread-list-item-title">
                    <div class="thread-name">#{{ thread.threadName }}</div>
                    <div *ngIf="thread.unseenMessages > 0" class="badge-container">
                        <div class="badge">{{ thread.unseenMessages }}</div>
                    </div>
                </div>
                <div *ngIf="thread.lastMessage" class="thread-list-item-line">
                    <p *ngIf="thread.lastMessage.type == messageTypeEnum.Text" class="last-message"><span class="sender-name">{{thread.lastMessage.senderUsername}}</span>:&nbsp;{{thread.lastMessage.content}}</p>
                    <p *ngIf="thread.lastMessage.type == messageTypeEnum.Video" class="last-message"><mat-icon>videocam</mat-icon></p>
                    <small class="timestamp">{{thread.lastMessage.timestamp | timestamp}}</small> 
                </div>
            </div>
        </div>        
    </div>
</div>