.add-members-container {
    padding-left: 20px;
    padding-right: 20px;
}

.menu-title{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.button-container{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.add-button{
    width: 100%;
}