.search-field{
    width: 100%;
}

mat-list{
    max-height: 400px;
    overflow-y: scroll;
}

mat-list-item:hover {
    background-color:rgba(150, 150, 150, 0.4);
}

.message {
    font-size: 1.3em;
    color: white;
    margin-bottom: 10px;
}